.root {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 348px;

  background-color: var(--color-dark-700);

  .email {
    color: var(--color-dark-100);
  }
}

.avatarContainer {
  position: relative;

  .avatar {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  input[type='file'] {
    display: none;
  }

  .editIcon {
    position: relative;
    right: 10px;
    background-color: var(--color-dark-300);

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-100);
    }
  }
}
