.checkboxRoot {
  position: relative;

  display: flex;
  gap: 8px;
  align-items: center;

  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.checkboxContainer {
  position: relative;
  width: 24px;
  height: 24px;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;

    border-radius: 50%;

    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
  }

  &:hover {
    transform: scale(1);
  }

  &:active {
    transform: scale(1);
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: var(--color-dark-500);
  }

  &:active::before {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--color-dark-100);
  }

  .text {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
    color: var(--light-100, #fff);

    .textContent {
      white-space: nowrap;
    }
  }
}

.textDisabled {
  color: var(--color-dark-100);
}
