.modal {
  position: absolute;
  z-index: 14;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.cardsPage {
  max-width: 1008px;
  margin: 0 auto;

  .backButton {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    margin: 24px 0 0;
    padding: 0;

    color: var(--color-light-100);
    text-decoration: none;

    background-color: inherit;

    &:hover {
      color: var(--color-light-100);
      background-color: var(--color-dark-300);
    }
  }

  .deckServices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 33px;
    margin-bottom: 26px;

    .nameDeck {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: flex-end;
    }
  }

  .deckEmpty {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

    .textEmpryDecks {
      margin: 0 auto;
      color: var(--color-dark-100);
    }

    .buttonEmpryDecks {
      margin: 0 auto;
    }
  }
}

.creatorWithButton {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.iconBtns {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: inherit;
  border: none;
  border-radius: 50%;

  transition: background-color 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-100);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: inherit;
  }

  &:disabled:hover {
    cursor: default;
    background-color: inherit;
  }
}

.row {
  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-500);
  }
}
