.modal {
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.creatorWithButton {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.iconBtns {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  background-color: inherit;
  border: none;
  border-radius: 50%;

  transition: background-color 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--color-dark-100);
  }
}
