.button {
  display: flex;
  align-items: center;
  justify-content: left;

  width: 240px;
  height: 36px;
  padding-right: 10px;

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-dark-100);
}

.button[data-state='open'] .arrowImg {
  transform: rotate(180deg);
}

.button:focus-visible {
  border: 1px solid var(--color-info-700);
  outline: 1px solid var(--color-info-700);
}

.button:hover {
  background-color: var(--color-dark-300);
  border: 2px solid var(--color-dark-100);
}

.content {
  display: flex;
  gap: 12px;
  justify-content: center;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  background-color: var(--color-dark-900);
}

.item {
  padding-bottom: 12px;
  border: none;
  outline: none;
}

.disabled {
  opacity: 0.4;

  &:hover {
    background-color: var(--color-dark-900);
  }
}

.item:hover {
  background: var(--primary-900, #382766);
}
