.table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);


}
:is(td,th)>span {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 99%;
}
.headCell {
 width: 20%;
  padding: 6px 24px;
  max-width: min-content;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);


  background-color: var(--color-dark-500);
/*&:nth-child(4){
width: 20ch;
}&:nth-child(2){
width: min(100px, 20%);
}*/
  > span {
    user-select: none;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &.sortable > span {
    cursor: pointer;

  }

  svg {
    transition: transform 0.2s ease-in-out;
  }
}

.tableCell {
  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-table);
  border-bottom: 1px solid var(--color-dark-500);
}

.chevronDown {
  transform: rotate(180deg);
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}

.creatorWithButton{
  display: flex;
  flex-direction: row;
}

.TableRow{
  //width: 100%;
}
