.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButton {
  display: inline-flex;
  gap: 10px;
  align-items: center;

  margin: 24px 0 0;
  padding: 0;

  color: var(--color-light-100);
  text-decoration: none;

  background-color: inherit;

  &:hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-300);
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 33px 36px 48px;

  background-color: var(--color-dark-700);
}

.questionContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 45px;
}
