.avatar {
  cursor: pointer;
}

.menuContainer {
  position: absolute;
  top: 60px;
  right: 115px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 217px;
  height: 147px;
  padding: 12px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 4px;

  &::before {
    content: '';

    position: absolute;
    left: 80%;
    transform: rotate(45deg);

    width: 15px;
    height: 15px;
    margin-top: -20px;

    background-color: var(--color-dark-500);
    border-top: 1px solid var(--color-dark-300);
    border-left: 1px solid var(--color-dark-300);
  }

  .infoContainer {
    display: flex;
    gap: 8px;

    .nameAndEmailContainer {
      display: flex;
      flex-direction: column;

      .email {
        color: var(--color-dark-100);
      }
    }
  }

  .button {
    cursor: pointer;
    margin-top: 16px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    width: 100%;
  }
}

.rectangle {
  width: 193px;
  height: 1px;
  margin: 12px 0;
  border: 1px solid var(--color-dark-300);
}
