.root {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 542px;
  height: 23%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
