.button {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  text-decoration: none;

  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

}

.primary {
  background: var(--primary-500, #8C61FF);

  &:hover {
    background: var(--primary-300, #A280FF);
  }

  &:active {
    background: var(--primary-700, #704ECC);
  }

  &:disabled {
    background-color: var(--primary-900, #382766);
  }

  &:focus-visible {
    background: var(--primary-500, #8C61FF);
    outline: 2px solid var(--info-700, #2F68CC);
  }
}


.secondary {
  background: var(--dark-300, #4C4C4C);
  border-radius: 4px;

  &:hover {
    background: var(--dark-100, #808080);
  }

  &:active {
    background: var(--dark-500, #333);
  }

  &:disabled {
    background: var(--dark-300, #4C4C4C);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:focus-visible {
    background: var(--dark-300, #4C4C4C);
    outline: 2px solid var(--info-700, #2F68CC);
  }
}


.tertiary {
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 8px 28px;

  color: var(--primary-500, #8C61FF);

  background-color: var(--color-dark-900);
  border: 1px solid var(--primary-500, #8C61FF);



  &:hover {
    background: var(--dark-500, #333);
    border: 1px solid var(--primary-700, #704ECC);
  }

  &:active {
    background: var(--primary-900, #382766);
    border: 1px solid var(--primary-700, #704ECC);
  }

  &:disabled {
    background-color: var(--color-dark-900);
    border: 1px solid var(--primary-900, #382766);
  }

  &:focus-visible {
    background-color: var(--color-dark-900);
    outline: 2px solid var(--info-700, #2F68CC);
  }

}

.link {
  display: inline-flex;
  gap: 10px;
  align-items: flex-start;

  padding: 6px 0;

  color:  var(--primary-500, #8C61FF);

  background-color: var(--color-dark-900);

  &:hover {
    color: var(--primary-700,  #704ECC);
  }

  &:active {
    color: var(--primary-300,  #A280FF);
  }

  &:disabled {
    color:  var(--primary-900, #382766);
  }

  &:focus-visible {
    color:  var(--primary-500, #8C61FF);
    background-color: var(--color-dark-900);
    border-radius: 30px;
    outline: 2px solid var(--info-700, #2F68CC);
  }

}

a:visited {
  color:  var(--primary-500, #8C61FF);
}

.fullWidth {

}
