.button {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  border: none;
  border-radius: 4px;
}

.primary {
  background: var(--primary-500, #8c61ff);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover {
    background: var(--primary-300, #a280ff);
  }

  &:active {
    background: var(--primary-700, #704ecc);
  }

  &:disabled {
    background-color: var(--primary-900, #382766);
  }

  &:focus-visible {
    background: var(--primary-500, #8c61ff);
    outline: 2px solid var(--info-700, #2f68cc);
  }
}

.secondary {
  background: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 var(--color-dark-500 / 13%);

  &:hover {
    background: var(--color-dark-100);
  }

  &:active {
    background: var(--color-dark-500);
  }

  &:disabled {
    background: var(--color-dark-300);
    box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
  }

  &:focus-visible {
    background: var(--color-dark-300);
    outline: 2px solid var(--color-info-700);
  }
}

.tertiary {
  flex-shrink: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 8px 28px;

  color: var(--primary-500);

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-accent-500);

  &:hover {
    background: var(--dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:active {
    background: var(--primary-900);
    border: 1px solid var(--primary-700);
  }

  &:disabled {
    background-color: var(--color-dark-900);
    border: 1px solid var(--color-accent-900);
  }

  &:focus-visible {
    background-color: var(--color-dark-900);
    outline: 2px solid var(--color-info-700);
  }
}

.link {
  display: inline-flex;
  gap: 10px;
  align-items: flex-start;

  padding: 6px 0;

  color: var(--color-accent-500);

  background-color: var(--color-dark-900);
  box-shadow: 0 0 0 0;

  &:hover {
    color: var(--color-accent-700);
  }

  &:active {
    color: var(--color-accent-300);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:focus-visible {
    color: var(--color-accent-500);
    background-color: var(--color-accent-900);
    border-radius: 30px;
    outline: 2px solid var(--color-info-700);
  }
}

/* a:visited {
  color: var(--color-accent-500);
} */
